# Institute login
institute_email=institute@example.com
institute_password=supersecret123

# Verifier login (dummy local users)
verifier_email=verifier@example.com
verifier_password=verifier123

# Pinata (required for IPFS uploads)
PINATA_API_KEY=
PINATA_API_SECRET=
PINATA_SSL_VERIFY=false # set to true!

# Optional: Web3 provider
WEB3_PROVIDER_URI= #http://127.0.0.1:8545
